/* #region HeroSection */
/* (25rem + 3*8rem + 2*2rem) * 1.1 = 53rem/0.9 = 58.9rem */
#hero-section-growth-potential {
    max-width: 25rem;
}

@media (max-width: 61.999rem) {
    #hero-section {
        grid-template-columns: none;
        /* grid-template-rows: minmax(2rem, 1fr) auto minmax(2rem, 1fr) 28rem; */
        grid-template-rows: minmax(2rem, 1fr) auto minmax(2rem, 1fr);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #hero-section-cta {
        grid-row: 2;
        align-items: center;
        text-align: center;
    }

    #hero-section-carousel-vertical {
        display: none;
    }

    #hero-section-carousel-horizontal {
        grid-row: 4;
        /* display: grid; */
        display: none;
    }
}

@media (min-width: 62rem) {
    #hero-section {
        grid-template-columns: minmax(0, 40rem) 1fr 28rem;
        grid-template-rows: 1fr;
        padding-top: 0;
        padding-bottom: 0;
    }

    #hero-section-cta {
        align-items: flex-start;
    }

    #hero-section-carousel-vertical {
        display: grid;
        grid-column: 3;
    }

    #hero-section-carousel-horizontal {
        display: none;
    }
}
/* #endregion */

/* #region BusinessGoals */
#business-goals-heading {
    max-width: 42.5rem;
}

@media (max-width: 67.999rem) {
    #business-goals {
        grid-template-columns: minmax(0, 37.5rem);
    }
}

@media (min-width: 68rem) and (max-width: 99.999rem) {
    #business-goals {
        grid-template-columns: repeat(2, 1fr);
    }

    #business-goals-heading {
        grid-column: 1 / span 2;
    }

    .business-goals-goal {
        min-width: 28.5rem;
        max-width: 37.5rem;
    }
}

@media (min-width: 100rem) {
    #business-goals {
        grid-template-columns: repeat(3, 1fr);
    }

    #business-goals-heading {
        grid-row: 1 / span 2;
    }

    .business-goals-goal {
        min-width: 28.5rem;
        max-width: 37.5rem;
    }
}
/* #endregion */

#mobileFooter {
    clip-path: url(#mobileFooterClipPath);
}
