body {
    /* FOUC hack */
    display: block !important;
    /* /FOUC hack */
    overflow-x: hidden;
}

@font-face {
    font-family: lg-brueur-text-fallback;
    font-size: 16px;
    line-height: 1.6;
    color: black;
    letter-spacing: -0.4px;
    src: local(Arial);
    /* src: local(Georgia); */
}

@font-face {
    font-family: lg-brueur-text;
    font-weight: 700;
    /* src: url("/brueur-text.ttf") format("truetype"); */
    src: url("https://files.growthjockey.com/livguard/fonts/brueur-text.ttf");
    font-display: swap;
}

@font-face {
    font-family: lg-source-sans-3;
    font-weight: 400;
    /* src: url("/source-sans-3.ttf") format("truetype"); */
    src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
    font-display: swap;
}

@font-face {
    font-family: lg-source-sans-3;
    font-weight: 600;
    /* src: url("/source-sans-3.ttf") format("truetype"); */
    src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
    font-display: swap;
}
