/* @font-face {
    font-family: BreuerText;
    src: url("https://files.growthjockey.com/livguard/fonts/BreuerText-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: test;
    src: url("https://files.growthjockey.com/livguard/fonts/BreuerText-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: BreuerText;
    src: url("https://files.growthjockey.com/livguard/fonts/BreuerText-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BreuerText;
    src: url("https://files.growthjockey.com/livguard/fonts/BreuerText-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: BreuerText;
    src: url("https://files.growthjockey.com/livguard/fonts/BreuerHeadline Oblique.otf");
    font-weight: 700;
}

@font-face {
    font-family: Source Sans Pro;
    src: url("https://files.growthjockey.com/livguard/fonts/SourceSansPro-Regular.ttf");
    font-weight: 400;
} */
