@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;

        /* Used to retain the sticky elements while a Dialog is open. Has the side-effect that user can still scroll. */
        overflow: unset !important;

        --lg-header-height: 6.5rem;
        /* --lg-mobile-ui-height: 4rem; */
        --lg-mobile-ui-height: 4rem;
        /* --gj-px-screen-edge: clamp(1.5rem, 1.5rem + clamp(0, calc((10vw - 480px) / 600px), 1) * 8.5rem, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5%, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5vw, 10rem); */
        /* --lg-px-screen-edge: 5vw; */
        --lg-px-screen-edge: 1.5rem;
        /* --gj-py-section-divider: clamp(2rem, 5vw, 6rem); */
    }

    body {
        overflow-x: hidden;
    }

    @font-face {
        font-family: lg-brueur-text;
        font-weight: 700;
        /* src: url("/brueur-text.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/brueur-text.ttf");
        font-display: swap;
    }

    @font-face {
        font-family: lg-source-sans-3;
        font-weight: 400;
        /* src: url("/source-sans-3.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
        font-display: swap;
    }

    @font-face {
        font-family: lg-source-sans-3;
        font-weight: 600;
        /* src: url("/source-sans-3.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
        font-display: swap;
    }

    .lg-font-brueur {
        font-family: "lg-brueur-text";
        font-weight: 700;
    }

    .lg-text-banner {
        font-family: "lg-brueur-text";
        font-weight: 700;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.75rem] md:tw-text-[2.625rem] tw-leading-[2rem] md:tw-leading-[3.25rem];
    }

    .lg-text-headline {
        font-family: "lg-brueur-text";
        font-weight: 700;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.5rem] md:tw-text-[2.125rem] tw-leading-[1.75rem] md:tw-leading-[2.5rem];
    }

    .lg-text-title1 {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.25rem] md:tw-text-[1.75rem] tw-leading-[1.75rem] md:tw-leading-[2rem];
    }

    .lg-text-title2 {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[1rem] md:tw-text-[1.375rem] tw-leading-[1.5rem] md:tw-leading-[1.75rem];
    }

    .lg-text-body-bold {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.875rem] md:tw-text-[1rem] tw-leading-[1.25rem] md:tw-leading-[1.5rem] lg-text-secondary-700;
    }

    .lg-text-body {
        font-family: "lg-source-sans-3";
        font-weight: 400;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.875rem] md:tw-text-[1rem] tw-leading-[1.25rem] md:tw-leading-[1.5rem] lg-text-secondary-700;
    }

    .lg-text-icon {
        font-family: "lg-source-sans-3";
        font-weight: 400;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.75rem] md:tw-text-[0.75rem] tw-leading-[0.875rem] md:tw-leading-[0.875rem];
    }

    .lg-text-button {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[1rem] md:tw-text-[1.375rem] tw-leading-[1.5rem] md:tw-leading-[1.75rem];
    }

    .lg-bg-primary-500 {
        @apply tw-bg-primary-500-light dark:tw-bg-primary-500-dark;
    }

    .lg-text-primary-500 {
        @apply tw-text-primary-500-light dark:tw-text-primary-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-text-background-500 {
        @apply tw-text-background-500-light dark:tw-text-background-500-dark;
    }

    .lg-bg-secondary-100 {
        @apply tw-bg-secondary-100-light dark:tw-bg-secondary-100-dark;
    }

    .lg-text-secondary-100 {
        @apply tw-text-secondary-100-light dark:tw-text-secondary-100-dark;
    }

    .lg-bg-secondary-300 {
        @apply tw-bg-secondary-300-light dark:tw-bg-secondary-300-dark;
    }

    .lg-text-secondary-300 {
        @apply tw-text-secondary-300-light dark:tw-text-secondary-300-dark;
    }

    .lg-bg-secondary-500 {
        @apply tw-bg-secondary-500-light dark:tw-bg-secondary-500-dark;
    }

    .lg-text-secondary-500 {
        @apply tw-text-secondary-500-light dark:tw-text-secondary-500-dark;
    }

    .lg-bg-secondary-700 {
        @apply tw-bg-secondary-700-light dark:tw-bg-secondary-700-dark;
    }

    .lg-text-secondary-700 {
        @apply tw-text-secondary-700-light dark:tw-text-secondary-700-dark;
    }

    .lg-bg-secondary-900 {
        @apply tw-bg-secondary-900-light dark:tw-bg-secondary-900-dark;
    }

    .lg-text-secondary-900 {
        @apply tw-text-secondary-900-light dark:tw-text-secondary-900-dark;
    }

    .lg-px-screen-edge {
        @apply tw-px-[var(--lg-px-screen-edge)];
    }

    .lg-cta-button {
        @apply tw-block lg-text-button tw-bg-gradient-to-r tw-from-[#F25F60] tw-to-[#EB2A2B] tw-px-12 tw-py-3 tw-rounded-full tw-text-secondary-900-dark;
    }

    .lg-cta-outline-button {
        @apply tw-block lg-text-button tw-px-12 tw-py-3 tw-rounded-full tw-border-2 lg-text-secondary-900 tw-border-secondary-500-dark;
    }

    .lg-text-highlighted {
        @apply lg-bg-primary-500 tw-text-secondary-900-dark tw-px-1;
    }

    .lg-text-input {
        @apply tw-w-full tw-bg-secondary-900-dark tw-text-secondary-100-dark tw-py-3 tw-px-4 tw-rounded-full tw-border tw-border-solid tw-border-secondary-900-light dark:tw-border-secondary-900-dark;
    }

    .lg-border-secondary-900 {
        @apply tw-border-[#b1b1b1] dark:tw-border-[#474546];
    }

    /* @keyframes animation-text-baseline {
        0% {
            transform: translateY(1em);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 100%;
        }
    }

    .lg-animation-text-baseline {
        animation: animation-text-baseline 200ms forwards ease-in;
    } */

    .lg-range-input {
        @apply tw-bg-gradient-to-r tw-from-secondary-300-light tw-to-primary-500-light dark:tw-from-secondary-300-dark dark:tw-to-primary-500-dark;

        -webkit-appearance: none !important;
        width: 100%;
        height: 0.2rem;
        border: none;
        outline: none;
    }

    .lg-range-input::-webkit-slider-thumb {
        @apply lg-bg-primary-500 tw-border-2 tw-border-solid tw-border-primary-500-light dark:tw-border-primary-500-dark;

        -webkit-appearance: none !important;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        cursor: pointer;
    }

    .lg-range-input::-webkit-slider-thumb:hover {
        @apply lg-bg-primary-500;
    }
}
