@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;

        --gj-header-height: 4rem;
        --gj-mobile-ui-height: 4rem;
        /* --gj-px-screen-edge: clamp(1.5rem, 1.5rem + clamp(0, calc((10vw - 480px) / 600px), 1) * 8.5rem, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5%, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5vw, 10rem); */
        --gj-px-screen-edge: 5vw;
        --gj-py-section-divider: clamp(2rem, 5vw, 6rem);
        --gj-py-standard-2: clamp(0.5rem, 1.25vw, 1.5rem);
        --gj-py-standard-1: clamp(1rem, 2.5vw, 3rem);
        --gj-py-standard: clamp(1.6rem, 4vw, 4.8rem);
    }

    body {
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
    }

    .lg-text-h1 {
        /* @apply tw-text-bold */

        font-weight: 700;
        font-size: 1.5rem;
    }

    .lg-text-p {
        /* @apply tw-text-bold */

        font-weight: 500;
        font-size: 1rem;
    }

    .lg-bg-primary-500 {
        @apply tw-bg-primary-500-light dark:tw-bg-primary-500-dark;
    }

    .lg-text-primary-500 {
        @apply tw-text-primary-500-light dark:tw-text-primary-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-text-background-500 {
        @apply tw-text-background-500-light dark:tw-text-background-500-dark;
    }

    .lg-bg-secondary-100 {
        @apply tw-bg-secondary-100-light dark:tw-bg-secondary-100-dark;
    }

    .lg-text-secondary-100 {
        @apply tw-text-secondary-100-light dark:tw-text-secondary-100-dark;
    }

    .lg-bg-secondary-300 {
        @apply tw-bg-secondary-300-light dark:tw-bg-secondary-300-dark;
    }

    .lg-text-secondary-300 {
        @apply tw-text-secondary-300-light dark:tw-text-secondary-300-dark;
    }

    .lg-bg-secondary-500 {
        @apply tw-bg-secondary-500-light dark:tw-bg-secondary-500-dark;
    }

    .lg-text-secondary-500 {
        @apply tw-text-secondary-500-light dark:tw-text-secondary-500-dark;
    }

    .lg-bg-secondary-700 {
        @apply tw-bg-secondary-700-light dark:tw-bg-secondary-700-dark;
    }

    .lg-text-secondary-700 {
        @apply tw-text-secondary-700-light dark:tw-text-secondary-700-dark;
    }

    .lg-bg-secondary-900 {
        @apply tw-bg-secondary-900-light dark:tw-bg-secondary-900-dark;
    }

    .lg-text-secondary-900 {
        @apply tw-text-secondary-900-light dark:tw-text-secondary-900-dark;
    }

    .lg-mobile-title2 {
        @apply tw-font-bold tw-text-[16px] tw-leading-6 tw-text-left;
    }

    .lg-mobile-bodyText {
        @apply tw-font-normal tw-text-[14px] tw-leading-5 tw-text-left;
    }

    .lg-mobile-heading {
        @apply tw-font-bold tw-text-[24px] tw-leading-7 tw-text-left;
    }
}
