@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: 5px;
    scrollbar-color: #eb2a2b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #474546;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #eb2a2b;
    border-radius: 14px;
    border: 3px solid #eb2a2b;
}

@layer components {
    html {
        scroll-behavior: smooth;

        /* Used to retain the sticky elements while a Dialog is open. Has the side-effect that user can still scroll. */
        overflow: unset !important;
        padding-right: 0 !important;
        /* /Hack */

        --lg-header-height: 6.5rem;
        /* --lg-mobile-ui-height: 4rem; */
        --lg-mobile-ui-height: 4rem;
        /* --gj-px-screen-edge: clamp(1.5rem, 1.5rem + clamp(0, calc((10vw - 480px) / 600px), 1) * 8.5rem, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5%, 10rem); */
        /* --gj-px-screen-edge: clamp(1.5rem, 5vw, 10rem); */
        /* --lg-px-screen-edge: 5vw; */
        --lg-px-screen-edge: 1.5rem;
        /* --gj-py-section-divider: clamp(2rem, 5vw, 6rem); */
    }

    body {
        /* FOUC hack */
        display: block !important;
        /* /FOUC hack */
        overflow-x: hidden;
    }

    @font-face {
        font-family: lg-brueur-text;
        font-weight: 700;
        /* src: url("/brueur-text.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/brueur-text.ttf");
        font-display: swap;
    }

    @font-face {
        font-family: lg-source-sans-3;
        font-weight: 400;
        /* src: url("/source-sans-3.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
            U+FFFD;
        font-display: swap;
    }

    @font-face {
        font-family: lg-source-sans-3;
        font-weight: 600;
        /* src: url("/source-sans-3.ttf") format("truetype"); */
        src: url("https://files.growthjockey.com/livguard/fonts/source-sans-3.ttf");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
            U+FFFD;
        font-display: swap;
    }

    /* TODO: Do we need this? If not, remove */
    .lg-font-brueur {
        font-family: "lg-brueur-text";
        font-weight: 700;
    }

    .lg-text-banner {
        font-family: "lg-brueur-text";
        font-weight: 700;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.75rem] md:tw-text-[2.625rem] tw-leading-[2rem] md:tw-leading-[3.25rem];
    }

    .lg-text-headline {
        font-family: "lg-brueur-text";
        font-weight: 700;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.5rem] md:tw-text-[2.125rem] tw-leading-[1.75rem] md:tw-leading-[2.5rem];
    }

    .lg-text-title1 {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[1.25rem] md:tw-text-[1.75rem] tw-leading-[1.75rem] md:tw-leading-[2rem];
    }

    .lg-text-title2 {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[1rem] md:tw-text-[1.375rem] tw-leading-[1.5rem] md:tw-leading-[1.75rem];
    }

    .lg-text-body-bold {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.875rem] md:tw-text-[1rem] tw-leading-[1.25rem] md:tw-leading-[1.5rem] lg-text-secondary-700;
    }

    .lg-text-body {
        font-family: "lg-source-sans-3";
        font-weight: 400;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.875rem] md:tw-text-[1rem] tw-leading-[1.25rem] md:tw-leading-[1.5rem] lg-text-secondary-700;
    }

    .lg-text-icon {
        font-family: "lg-source-sans-3";
        font-weight: 400;
        /* TODO: Add letter spacing */

        @apply tw-text-[0.75rem] md:tw-text-[0.75rem] tw-leading-[0.875rem] md:tw-leading-[0.875rem];
    }

    .lg-text-button {
        font-family: "lg-source-sans-3";
        font-weight: 600;
        /* TODO: Add letter spacing */

        @apply tw-text-[.875rem] md:tw-text-[1rem] tw-leading-[1rem] md:tw-leading-[1.02rem];
    }

    .lg-bg-primary-500 {
        @apply tw-bg-primary-500-light dark:tw-bg-primary-500-dark;
    }

    .lg-text-primary-500 {
        @apply tw-text-primary-500-light dark:tw-text-primary-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-text-background-500 {
        @apply tw-text-background-500-light dark:tw-text-background-500-dark;
    }

    .lg-bg-secondary-100 {
        @apply tw-bg-secondary-100-light dark:tw-bg-secondary-100-dark;
    }

    .lg-text-secondary-100 {
        @apply tw-text-secondary-100-light dark:tw-text-secondary-100-dark;
    }

    .lg-bg-secondary-300 {
        @apply tw-bg-secondary-300-light dark:tw-bg-secondary-300-dark;
    }

    .lg-text-secondary-300 {
        @apply tw-text-secondary-300-light dark:tw-text-secondary-300-dark;
    }

    .lg-bg-secondary-500 {
        @apply tw-bg-secondary-500-light dark:tw-bg-secondary-500-dark;
    }

    .lg-text-secondary-500 {
        @apply tw-text-secondary-500-light dark:tw-text-secondary-500-dark;
    }

    .lg-bg-secondary-700 {
        @apply tw-bg-secondary-700-light dark:tw-bg-secondary-700-dark;
    }

    .lg-text-secondary-700 {
        @apply tw-text-secondary-700-light dark:tw-text-secondary-700-dark;
    }

    .lg-bg-secondary-900 {
        @apply tw-bg-secondary-900-light dark:tw-bg-secondary-900-dark;
    }

    .lg-bg-new-background-500 {
        @apply tw-bg-new-background-500-light dark:tw-bg-new-background-500-dark;
    }

    .lg-text-new-background-500 {
        @apply tw-text-new-background-500-light dark:tw-text-new-background-500-dark;
    }

    .lg-bg-new-background-border-500 {
        @apply tw-bg-new-background-border-500-light dark:tw-bg-new-background-border-500-dark;
    }

    .lg-card {
        @apply tw-text-new-foreground-500-light dark:tw-text-new-foreground-500-dark tw-border tw-border-solid tw-border-new-background-border-500-light dark:tw-border-new-background-border-500-dark tw-rounded-lg lg-card-light-theme-shadow dark:lg-card-dark-theme-shadow;
    }

    .lg-card-light-theme-shadow {
        box-shadow: 8px 11px 15px 0px rgba(13, 13, 13, 0.05), 0px 2px 12px 0px rgba(13, 13, 13, 0.05), 0px 0px 6px 4px rgba(255, 255, 255, 0.03);
    }

    .lg-card-dark-theme-shadow {
        box-shadow: 8px 11px 15px #0000000d, 0 2px 12px #0000000d, 0 0 6px 4px #00000008;
        border-width: 2px;
    }

    .lg\:lg-card {
        @apply tw-text-new-foreground-500-light dark:tw-text-new-foreground-500-dark lg:tw-border lg:tw-border-solid lg:tw-border-new-background-border-500-light lg:dark:tw-border-new-background-border-500-dark tw-rounded-lg max-lg:!tw-shadow-none;
        box-shadow: 8px 11px 15px 0px rgba(13, 13, 13, 0.05), 0px 2px 12px 0px rgba(13, 13, 13, 0.05), 0px 0px 6px 4px rgba(255, 255, 255, 0.03);
    }

    .max-lg\:lg-card {
        @apply tw-text-new-foreground-500-light dark:tw-text-new-foreground-500-dark max-lg:tw-border max-lg:tw-border-solid max-lg:tw-border-new-background-border-500-light max-lg:dark:tw-border-new-background-border-500-dark tw-rounded-lg lg:!tw-shadow-none;
        box-shadow: 8px 11px 15px 0px rgba(13, 13, 13, 0.05), 0px 2px 12px 0px rgba(13, 13, 13, 0.05), 0px 0px 6px 4px rgba(255, 255, 255, 0.03);
    }

    .lg-card-shadow-hack {
        @apply tw-pb-6;
    }

    .lg\:lg-card-shadow-hack {
        @apply lg:tw-pb-6;
    }

    .max-lg\:lg-card-shadow-hack {
        @apply max-lg:tw-pb-6;
    }

    .lg-bg-new-foreground-500 {
        @apply tw-bg-new-foreground-500-light dark:tw-bg-new-foreground-500-dark;
    }

    .lg-text-new-foreground-500 {
        @apply tw-text-new-foreground-500-light dark:tw-text-new-foreground-500-dark;
    }

    .lg-bg-new-foreground-700 {
        @apply tw-bg-new-foreground-700-light dark:tw-bg-new-foreground-700-dark;
    }

    .lg-text-new-foreground-700 {
        @apply tw-text-new-foreground-700-light dark:tw-text-new-foreground-700-dark;
    }

    .lg-bg-new-primary-500 {
        @apply tw-bg-new-primary-500-light dark:tw-bg-new-primary-500-dark;
    }

    .lg-text-new-primary-500 {
        @apply tw-text-new-primary-500-light dark:tw-text-new-primary-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-bg-background-500 {
        @apply tw-bg-background-500-light dark:tw-bg-background-500-dark;
    }

    .lg-text-secondary-900 {
        @apply tw-text-secondary-900-light dark:tw-text-secondary-900-dark;
    }

    .lg-px-screen-edge {
        @apply tw-px-[var(--lg-px-screen-edge)];
    }

    .lg-px-screen-edge-2 {
        @apply tw-px-6 lg:tw-px-[4.5rem] xl:tw-px-[7.5rem];
    }

    .lg-pl-screen-edge-2 {
        @apply tw-pl-6 lg:tw-pl-[4.5rem] xl:tw-pl-[7.5rem];
    }

    .lg-pr-screen-edge-2 {
        @apply tw-pr-6 lg:tw-pr-[4.5rem] xl:tw-pr-[7.5rem];
    }

    .lg-cta-button {
        @apply tw-block lg-text-button tw-bg-gradient-to-r tw-from-[#F25F60] tw-to-[#EB2A2B] tw-px-12 tw-py-3 tw-rounded-full tw-text-secondary-900-dark disabled:tw-grayscale disabled:tw-text-secondary-300-dark;
    }

    .lg-cta-outline-button {
        @apply tw-block lg-text-button tw-px-12 tw-py-3 tw-rounded-full tw-border-2 lg-text-secondary-900 tw-border-primary-500-dark;
    }

    .lg-cta-button-product-card {
        @apply tw-block lg-text-button tw-px-12 tw-py-3 tw-rounded-full tw-border-2 lg-text-primary-500 tw-border-primary-500-dark dark:tw-text-secondary-900-dark tw-transition tw-duration-200 hover:lg-bg-primary-500 hover:tw-text-secondary-900-dark;
    }

    .lg-text-highlighted {
        @apply lg-bg-primary-500 tw-text-secondary-900-dark tw-px-1;
    }

    .lg-text-input {
        @apply tw-w-full tw-bg-secondary-900-dark tw-text-secondary-100-dark tw-py-3 tw-px-4 tw-rounded-full tw-border tw-border-solid tw-border-secondary-900-light dark:tw-border-secondary-900-dark;
    }

    .lg-border-secondary-900 {
        @apply tw-border-[#b1b1b1] dark:tw-border-[#474546];
    }

    .lg-border-primary-500 {
        @apply tw-border-[#eb2a2b];
    }

    .lg-border-secondary-700 {
        @apply tw-border-secondary-700-light dark:tw-border-secondary-700-dark;
    }

    .lg-border-secondary-300 {
        @apply tw-border-secondary-300-light dark:tw-border-secondary-300-dark;
    }

    .lg-border-secondary-100 {
        @apply tw-border-secondary-100-light dark:tw-border-secondary-100-dark;
    }

    .lg-contact-gradient-dark {
        background: linear-gradient(162.96deg, #474546 3.31%, #1f2022 88.69%);
    }

    .lg-contact-gradient-light {
        background: linear-gradient(162.96deg, #d7d7d7 3.31%, #fcfcfc 88.69%);
    }

    .lg-stabilizers-best-seller-gradient {
        background: linear-gradient(270deg, #f25f60 -106.84%, #eb2a2b 102.47%);
        background: linear-gradient(270deg, #f25f60 -106.84%, #eb2a2b 102.47%);
    }

    .lg-about-us-who-we-are-bg-gradient-dark {
        background: linear-gradient(171.42deg, #474546 -6.46%, #1f2022 71.76%);
        background: linear-gradient(171.42deg, #474546 -6.46%, #1f2022 71.76%);
    }

    .lg-about-us-who-we-are-bg-gradient-light {
        background: linear-gradient(171.42deg, #d7d7d7 -6.46%, #fcfcfc 71.76%);
    }

    .lg-about-us-leaders-bg-gradient {
        background: linear-gradient(270deg, #f25f60 -106.84%, #eb2a2b 102.47%);
    }

    .lg-service-connect-bg-gradient-light {
        background: linear-gradient(153deg, #b1b1b1 35.83%, #fcfcfc 81.14%);
    }

    .lg-service-connect-bg-gradient-dark {
        background: linear-gradient(153deg, #474546 35.83%, #1f2022 81.14%);
    }

    .lg-service-connect-bg-gradient-light {
        background: linear-gradient(153deg, #b1b1b1 35.83%, #fcfcfc 81.14%);
    }

    .lg-service-connect-bg-gradient-dark {
        background: linear-gradient(153deg, #474546 35.83%, #1f2022 81.14%);
    }

    /* @keyframes animation-text-baseline {
        0% {
            transform: translateY(1em);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 100%;
        }
    }

    .lg-animation-text-baseline {
        animation: animation-text-baseline 200ms forwards ease-in;
    } */

    ::file-selector-button {
        display: none;
    }

    ::-webkit-file-upload-button {
        display: none;
    }

    .lg-range-input {
        @apply tw-bg-gradient-to-r tw-from-secondary-300-light tw-to-primary-500-light dark:tw-from-secondary-300-dark dark:tw-to-primary-500-dark;

        -webkit-appearance: none !important;
        width: 100%;
        height: 0.2rem;
        border: none;
        outline: none;
    }

    .lg-range-input::-webkit-slider-thumb {
        @apply lg-bg-primary-500 tw-border-2 tw-border-solid tw-border-primary-500-light dark:tw-border-primary-500-dark;

        -webkit-appearance: none !important;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        cursor: pointer;
    }

    .lg-range-input::-webkit-slider-thumb:hover {
        @apply lg-bg-primary-500;
    }

    .lg-secondary-700-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    /* .lg-secondary-700-scrollbar::-webkit-scrollbar-track {
        background-color: black;
    } */

    .lg-secondary-700-scrollbar::-webkit-scrollbar-thumb {
        @apply tw-bg-secondary-700-light dark:tw-bg-secondary-700-dark;
        border-radius: 25px;
    }

    .lg-lead-form-top-gradient {
        background: radial-gradient(136.96% 3728.32% at 114.88% 111.75%, #f25f60 3.53%, #eb2a2b 100%);
    }

    .lg-contact-us-card-shadow {
        filter: drop-shadow(0px 0px 0px rgba(13, 13, 13, 0.05)) drop-shadow(4px 10px 12px rgba(13, 13, 13, 0.05)) drop-shadow(16px 40px 23px rgba(13, 13, 13, 0.04));
    }

    .lg-international-shadow {
        box-shadow: 0 0 #0d0d0d0d, 0 2px 12px #0d0d0d0d, 8px 10px 13px #0d0d0d0a;
    }

    .lg-bg-our-suggestions {
        @apply tw-bg-[#F2F2F2] dark:tw-bg-secondary-100-dark;
    }

    .lg-bg-our-suggestions-card {
        @apply tw-bg-secondary-100-light dark:tw-bg-secondary-300-dark;
    }

    .lg-lithium-shadow {
        box-shadow: 0px 0px 0px 0px #0d0d0d0d, 4px 0px 12px 0px #0d0d0d0d, 16px 40px 23px 0px #0d0d0d0a;
    }

    .lg-cta-outline-button-transition {
        background: transparent;
        transition: background 0.2s linear, color 0.2s linear;
    }

    .lg-cta-outline-button-transition:hover {
        border: 2px solid transparent;
        background: linear-gradient(90deg, #f25f60 0%, #eb2a2b 100%);
        color: #fcfcfc;
    }

    .lg-automotive-bg-gradient-right-to-left-dark {
        background: conic-gradient(from 15deg at 55% 100%, rgba(31, 32, 34, 1) 0%, rgba(24, 26, 28, 0.83) 100%);
    }

    .lg-automotive-bg-gradient-left-to-right-light {
        background: conic-gradient(from 345deg at 45% 100%, #f2f2f2 0%, #ffffff 100%);
    }

    .lg-automotive-bg-gradient-right-to-left-light {
        background: conic-gradient(from 15deg at 55% 100%, #ffffff 0%, #f2f2f2 100%);
    }

    .lg-automotive-bg-gradient-left-to-right-dark {
        background: conic-gradient(from 345deg at 45% 100%, rgba(24, 26, 28, 0.83) 0%, rgba(31, 32, 34, 1) 100%);
    }

    .lg-automotive-bg-gradient-right-to-left-vertical-dark {
        background: conic-gradient(from 252deg at 100% 20%, rgba(31, 32, 34, 1) 0%, rgba(24, 26, 28, 0.83) 100%);
    }

    .lg-automotive-bg-gradient-left-to-right-vertical-dark {
        background: conic-gradient(from 108deg at 0% 20%, rgba(24, 26, 28, 0.83) 0%, rgba(31, 32, 34, 1) 100%);
    }

    .lg-automotive-bg-gradient-right-to-left-vertical-light {
        background: conic-gradient(from 252deg at 100% 20%, #ffffff 0%, #f2f2f2 100%);
    }

    .lg-automotive-bg-gradient-left-to-right-vertical-light {
        background: conic-gradient(from 108deg at 0% 20%, #f2f2f2 0%, #ffffff 100%);
    }

    .lg-automotive-tractor-bg-gradient-right-to-left-dark {
        background: conic-gradient(from 15deg at 62% 100%, rgba(31, 32, 34, 1) 0%, rgba(24, 26, 28, 0.83) 100%);
    }

    .lg-automotive-tractor-bg-gradient-left-to-right-dark {
        background: conic-gradient(from 345deg at 38% 100%, rgba(24, 26, 28, 0.83) 0%, rgba(31, 32, 34, 1) 100%);
    }

    .lg-automotive-tractor-bg-gradient-right-to-left-light {
        background: conic-gradient(from 15deg at 62% 100%, #ffffff 0%, #f2f2f2 100%);
    }

    .lg-automotive-tractor-bg-gradient-left-to-right-light {
        background: conic-gradient(from 345deg at 38% 100%, #f2f2f2 0%, #ffffff 100%);
    }

    .lg-automotive-tractor-bg-gradient-right-to-left-vertical-dark {
        background: conic-gradient(from 252deg at 100% 20%, rgba(31, 32, 34, 1) 0%, rgba(24, 26, 28, 0.83) 100%);
    }

    .lg-automotive-tractor-bg-gradient-left-to-right-vertical-dark {
        background: conic-gradient(from 108deg at 0% 20%, rgba(24, 26, 28, 0.83) 0%, rgba(31, 32, 34, 1) 100%);
    }

    .lg-automotive-tractor-bg-gradient-right-to-left-vertical-light {
        background: conic-gradient(from 252deg at 100% 20%, #ffffff 0%, #f2f2f2 100%);
    }

    .lg-automotive-tractor-bg-gradient-left-to-right-vertical-light {
        background: conic-gradient(from 108deg at 0% 20%, #f2f2f2 0%, #ffffff 100%);
    }

    .lg-cta-outline-button-transition {
        background: transparent;
        transition: background 0.2s linear, color 0.2s linear;
    }

    .lg-cta-outline-button-transition:hover {
        /* border: 2px solid transparent; */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        background: linear-gradient(90deg, #f25f60 0%, #eb2a2b 100%);
        color: #fcfcfc;
    }

    .lg-cta-outline-button-category-section-transition {
        background: transparent;
        transition: background 0.2s linear;
        color: rgb(71 69 70 / var(--tw-text-opacity));
    }

    .lg-cta-outline-button-category-section-transition:hover {
        padding: 14px 18px;
        border: 0px;
        background: linear-gradient(90deg, #f25f60 0%, #eb2a2b 100%);
    }

    .lg-ops-pages-shadow {
        box-shadow: 0 0 #0d0d0d0d, 0 2px 12px #0d0d0d0d, 8px 10px 13px #0d0d0d0a;
    }

    /* TODO: Remove */
    .lg-card-shadow {
        box-shadow: 8px 11px 15px 0px rgba(13, 13, 13, 0.05), 0px 2px 12px 0px rgba(13, 13, 13, 0.05), 0px 0px 6px 4px rgba(255, 255, 255, 0.03);
    }

    /* TODO: Remove */
    .lg-e-waste-management-banner-card-bg {
        border-radius: 8px;
        background: linear-gradient(132deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
        box-shadow: 0px 0px 0px 0px rgba(13, 13, 13, 0.05), 4px 10px 12px 0px rgba(13, 13, 13, 0.05), 16px 40px 23px 0px rgba(13, 13, 13, 0.04);
    }

    /* TODO: Remove? */
    /* TODO: Remove all unnecessary classes */
    .lg-csr-leaders-shadow {
        box-shadow: 0 0 #0d0d0d0d, 0 2px 12px #0d0d0d0d, 8px 10px 13px #0d0d0d0a;
    }

    .lg-ewaste-management-box-shadow {
        box-shadow: 0px 0px 0px 0px rgba(13, 13, 13, 0.05), 4px 10px 12px 0px rgba(13, 13, 13, 0.05), 16px 40px 23px 0px rgba(13, 13, 13, 0.04);
    }

    .lg-cta-button-gradient {
        @apply tw-bg-gradient-to-r tw-from-[#EB2A2B] tw-to-[#F25F60];
    }

    .lg-scroll-bar-hidden::-webkit-scrollbar {
        display: none;
    }

    .lg-about-us-banner-text-gradient {
        background: linear-gradient(88deg, rgba(24, 26, 28, 0.83) 0%, rgba(24, 26, 28, 0) 100%);
    }

    .lg-cta-outline-button-category-section-transition-ops {
        background: transparent;
        transition: background 0.2s linear;
        color: rgb(71 69 70 / var(--tw-text-opacity));
    }

    .lg-cta-outline-button-category-section-transition-ops:hover {
        padding: 12px 16px;
        border: 2px 0px;
        background: linear-gradient(90deg, #f25f60 0%, #eb2a2b 100%);
    }

    .lg-hi-in .lg-text-highlighted {
        @apply tw-leading-loose tw-py-2;
    }

    .lg-link {
        @apply hover:tw-text-primary-500-light hover:tw-decoration-primary-500-light tw-underline tw-underline-offset-2;
    }

    .lg-sticky-bottom-bar-shadow {
        box-shadow: 0px 1px 8px 1px rgb(133 133 133 / 30%);
    }

    .border-style-initial {
        border-style: initial;
    }

    .svg-icon-primary-color {
        filter: brightness(0) saturate(100%) invert(17%) sepia(84%) saturate(3283%) hue-rotate(346deg) brightness(107%) contrast(91%);
    }

    .lgs-text-gradient {
        background: linear-gradient(to right, #75aa43, #75aa43, #00a8b7, #75aa43);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .instagram-media {
        position: static !important;
    }
}
